
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.body{
  background-color: #ccda9b;
  width: auto;
  height: 100vh;
  overflow: hidden;
}
.App {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #ccda9b;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 40px;
  

}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: -40px;
  font-family: 'Pixelify Sans';
 background-color: rgb(251, 251, 251);
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}
.long1 {
  margin-top: 10px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(30,15px);
  grid-template-columns: repeat(40, 15px); /* makes squares */
  position: relative;
  text-align: right;
}
.cell {
   user-select: none;
  -webkit-user-drag: none;
  cursor: crosshair;
  background-color: rgb(255, 255, 255);
  border: 0.2px solid #d6d6d6;
}
.toggle1 {
  position: absolute;
  width: 30px;
  height: 30px;
 
  background: #f1f1f1;
  cursor: pointer;
  margin-top: -100px;
  margin-left: 10px;
  border-radius: 50%;
  border: #f1f1f1 solid 2px;
  text-align: end;
}

.toggle1.active {
  background: #7fc6ef;
}
.grid-off .cell {
  border: none !important;
}

.grid-on .cell {
  border: 0.2px solid #d6d6d6;
}
.gridtext{
  font-size: 12px;
  margin-left: 28px;
  margin-top: 1px;
    
}
.reset{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 10px;
  border: 2px solid white;
}
.pen{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  background-image: url("https://i.ibb.co/hqQLQ4b/pen-line-svgrepo-com.png");
  background-size: cover;
  margin-top: -450px;
  margin-left: 10px;
  border: 2px solid white;
}
.pen.active{
  border: 2px solid #7fc6ef;
}
.erase{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  background-image: url("https://i.ibb.co/rRXjkDRX/eraser-clean-svgrepo-com.png");
  background-size: cover;
  cursor: pointer;
  
  
  margin-top: -400px;
  margin-left: 10px;
  border: 2px solid white;
}
.erase.active{
  border: 2px solid #7fc6ef;
}
.colorwrap{
  
  width: 200px;
  height: 100px;
  
  cursor: pointer;
  margin-top: -430px;
 
  margin-left: 850px;
  
  
}


