
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.body{
  background-color: #ccda9b;
  width: auto;
  height: 100vh;
  overflow: hidden;
}
.App {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #ccda9b;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 40px;
  

}
.title {
  font-size: 30px;
  
  margin-top: -40px;
  font-family: 'Pixelify Sans';

  background-color: rgb(251, 251, 251);
  width: fit-content;
  padding: 5px;
  
  box-shadow: 1px 1px 3px grey;
}
.long1 {
  margin-top: 10px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(30,15px);
  grid-template-columns: repeat(40, 15px); /* makes squares */
  position: relative;
  text-align: right;
}
.cell {
   user-select: none;
  -webkit-user-drag: none;
  cursor: crosshair;
  background-color: rgb(255, 255, 255);
  border: 0.2px solid #d6d6d6;
}
.toggle1 {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 3px grey;
  background: #f1f1f1;
  cursor: pointer;
  margin-top: -10%;
  margin-left: 2%;
  border-radius: 50%;
  border: #f1f1f1 solid 2px;
  text-align: end;
}

.toggle1.active {
  background: #7fc6ef;
}
.grid-off .cell {
  border: none !important;
}

.grid-on .cell {
  border: 0.2px solid #d6d6d6;
}
.gridtext{
  font-size: 12px;
  margin-left: 28px;
  margin-top: 1px;
  font-family: 'Pixelify Sans';
  
    
}
.reset{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
}
.pen{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  background-image: url("https://i.ibb.co/hqQLQ4b/pen-line-svgrepo-com.png");
  background-size: cover;
  margin-top: -35%;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
}
.pen.active{
  border: 2px solid #7fc6ef;
}
.erase{
position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  background-image: url("https://i.ibb.co/rRXjkDRX/eraser-clean-svgrepo-com.png");
  background-size: cover;
  cursor: pointer;
  margin-top: -31.2%;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
}
.erase.active{
  border: 2px solid #7fc6ef;
}
.colorwrap{
  
  width: fit-content;
  height: fit-content;
  cursor: text;
  margin-top: -37%;
  margin-left: 83%;
  
}
.undo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  background-image: url("https://i.ibb.co/kVB6nLFN/undo-left-svgrepo-com.png");
  background-size: cover; 
  margin-top: -8%;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
  
}
.redo{
   position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  background-image: url("https://i.ibb.co/4g3HKDJC/redo-svgrepo-com.png");
  background-size: cover;
  cursor: pointer;
  margin-top: -4%;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
}
.dropper {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  
  margin-top: -0.1%;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
  
}
.dropper.active{
  border: 2px solid #7fc6ef;
}
.compactwrap{
  margin-left: 61%;
  margin-top: -16.5%;
  height: fit-content;
  width: fit-content;
}
