
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.body{
  background-color: #ccda9b;
  width: auto;
  height: 100vh;
  overflow: hidden;
}
.App {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #ccda9b;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 40px;
  

}
.title {
  font-size: 30px;
  
  margin-top: -40px;
  font-family: 'Pixelify Sans';

  background-color: #fbfbfb;
  width: fit-content;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  
  box-shadow: 1px 1px 3px grey;
}
.long1 {
  margin-top: 10px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(30,15px);
  grid-template-columns: repeat(40, 15px); /* makes squares */
  position: relative;
  text-align: right;
  width: fit-content;
  background-color: white;
}



.cell {
   user-select: none;
  -webkit-user-drag: none;
  cursor: crosshair;
  background-color: rgb(255, 255, 255);
  border: 0.2px solid #d6d6d6;
}
.toggle1 {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 3px grey;
  background: #fbfbfb;
  cursor: pointer;
  margin-top: -11%;
  margin-left: 2%;
  border-radius: 50%;
  border: #f1f1f1 solid 2px;
  text-align: end;
}

.toggle1.active {
  background: #9fd4f3;
}
.grid-off .cell {
  border: none !important;
  
}
.export-transparent {
  background-color: transparent !important;
}

.grid-on .cell {
  border: 0.2px solid #d6d6d6;
  
}
.gridtext{
  font-size: 12px;
  margin-left: 28px;
  margin-top: 1px;
  font-family: 'Pixelify Sans';
  
    
}
.reset{
position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 2%;
  border: 2px solid white;
  box-shadow: 1px 1px 3px grey;
}
.bgtoggle {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 3px grey;
  background: #fbfbfb;
  cursor: pointer;
  margin-top: -7.5%;
  margin-left: 2%;
  border-radius: 50%;
  border: #f1f1f1 solid 2px;
  text-align: end;
}
.pen{
position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  cursor: pointer;
  background-image: url("https://i.ibb.co/p68GZwZD/icons8-pencil-50.png");
  background-size: cover;
  background-position: center;
  margin-top: -35%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.pen.active{
  border: 2px solid #9fd4f3;
}
.erase{
position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  background-image: url("https://i.ibb.co/PG8PXjtp/icons8-eraser-48.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-top: -31.2%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.erase.active{
  border: 2px solid #9fd4f3;
}
.colorwrap{
  
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-top: -37%;
  margin-left: 83%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  
}
.undo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  background-image: url("https://i.ibb.co/h1gnCNrf/icons8-undo-50-1.png");
  background-size:contain; 
  background-position: center;
  margin-top: -9%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  
}
.redo{
   position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  background-image: url("https://i.ibb.co/3xbFk61/icons8-redo-50.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-top: -5.2%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.dropper {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  background-image: url("https://i.ibb.co/Gfw308V7/icons8-dropper-50.png");
  background-size: cover;
  background-position: center;
  margin-top: -1.3%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  
}
.dropper.active{
  border: 2px solid #9fd4f3;
}
.fill{
position: absolute;
  width: 30px;
  height: 30px;
  background: #fbfbfb;
  background-image: url("https://i.ibb.co/4BxMgS3/icons8-fill-drip-48.png" );
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-top: 2.6%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.fill.active{
  border: 2px solid #9fd4f3;
}
.compactwrap{
  margin-left: 61%;
  margin-top: -17.5%;
  height: fit-content;
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.save{
  position: fixed;
  margin-left: 68%;
  margin-top: 24.5%;
  height: fit-content;
  width: fit-content;
  font-family: 'Pixelify Sans';
  font-size: 25px;
}
.png{
  position: absolute;
  width: 70px;
  height: 30px;
  margin-left: 10px;
  background: #fbfbfb;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  font-family: 'Pixelify Sans';
  font-size: 20px;
}
.svg{
  position: absolute;
  width: 70px;
  height: 30px;
  margin-left: 100px;
  background: #fbfbfb;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  font-family: 'Pixelify Sans';
  font-size: 20px;
}

.welcomenote{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: fixed;
  margin-left: 61%;
  margin-top: 2%;
  height: 40px;
  width: 150px;
  font-family: 'Pixelify Sans';
  font-size: 15px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.welcometext{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  margin-left: 61%;
  margin-top: 6%;
  height: 125px;
  width: 150px;
  font-family: 'Pixelify Sans';
  font-size: 14px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
.suggest{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  margin-left: 77.7%;
  margin-top: 10%;
  height: 40px;
  width: 150px;
  font-family: 'Pixelify Sans';
  font-size: 15px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  line-height: 10px;
}
.suggestbutton{
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.suggestbox{
  background-color: #fbfbfb;
  position: fixed;
  margin-left: 77.7%;
  margin-top: 14.5%;
  height: 77px;
  width: 170px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
  font-family: 'Pixelify Sans';
  font-size: 15px;
}
.sendbutton{
  border: none;
  cursor: pointer;
   height: 25px;
    width: 25px;
   background-color: transparent;
   background-image: url("https://i.ibb.co/V04hS5SJ/icons8-send-48.png" );
   background-size: cover;
   background-position: center;
   font-size: 20px;
   margin-left: 62%;
   margin-top: 3%;
}
.fillnote{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: fixed;
  margin-left: 61%;
  margin-top: 17%;
  height: fit-content;
  width: 150px;
  font-family: 'Pixelify Sans';
  font-size: 12px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}
input{
  margin-top: 10px;
  height: 30px;
  width: 80%;
  
}
.gridnote{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  position: fixed;
  margin-left: 48%;
  margin-top: 19.5%;
  height: fit-content;
  width: 100px;
  font-family: 'Pixelify Sans';
  font-size: 10px;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px grey;
}